/* pag. index */

#header img{
    border-radius: 50px;
 
}

#main .carousel-inner img {
    max-height: 90vh;
    /*object-fit: cover;*/
    filter: grayscale(50%);
  }

div #text-carousel {
    background: rgba(225, 182, 226, 0.4);
    color: black;
}

/* pag. base */

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Verdana;
}
